@using IA_E_commerce_.Models
@model LoginViewModel
@{
    /**/

    Layout = null;
}

<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8" />
        <title>
            E-Commerce
        </title>
        <meta name="description" content="Latest updates and statistic charts">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--begin::Web font -->
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
        <script>
            WebFont.load({
                google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
                active: function () {
                    sessionStorage.fonts = true;
                }
            });
        </script>
        <!--end::Web font -->
        <!--begin::Base Styles -->
        <!--begin::Page Vendors -->
        <link href=@Url.Content("/Content/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css") rel="stylesheet" type="text/css" />
        <!--end::Page Vendors -->
        <link href=@Url.Content("/Content/assets/vendors/base/vendors.bundle.css") rel="stylesheet" type="text/css" />
        <link href=@Url.Content("/Content/assets/demo/default/base/style.bundle.css") rel="stylesheet" type="text/css" />
        <!--end::Base Styles -->
        <link rel="shortcut icon" href=@Url.Content("/Content/assets/demo/default/media/img/logo/favicon.ico") />
        <!--Start Post-file css -->
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="/Content/components/Post/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="/Content/components/Post/css/mdb.min.css" rel="stylesheet">
        <!-- Your custom styles (optional) -->
        <link href="/Content/components/Post/css/style.css" rel="stylesheet">
        <!--End Post-file css -->
    
</head>
<body>
    <div class="modal fade" id="darkModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog form-dark" role="document">
            <!--Content-->
            <div class="modal-content card card-image" style="width: 432px; background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(7).jpg');">
                <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                    <!--Header-->
                    <div class="modal-header text-center pb-4">
                        <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel">
                            <strong>Log</strong> <a class="green-text font-weight-bold"><strong> in</strong></a>
                        </h3>
                        <button type="button" class="close white-text" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <!--Body-->

                            @Html.LabelFor(m => m.Email, new { @class = "" })
                            <div class="md-form mb-5" style="margin:0px">

                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control validate white-text form-control m-input" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(m => m.Password, new { @class = "" })
                            <div class="md-form pb-3" style="margin:0px">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control validate white-text form-control m-input m-login__form-input--last" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                <div class="form-group mt-4">


                                    <label style="margin-top: 33px;" for="checkbox624" class="white-text form-check-label">

                                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })

                                        <span>Remember Me</span>
                                    </label>
                                </div>
                            </div>

                            <!--Grid row-->
                            <div class="row d-flex align-items-center mb-4">

                                <!--Grid column-->
                                <div class="text-center mb-3 col-md-12">
                                    <button type="submit" value="Log in" class="btn btn-success btn-block btn-rounded z-depth-1">Login</button>
                                </div>
                                <!--Grid column-->

                            </div>
                            <!--Grid row-->
                            <!--Grid row-->

                        }
                    </div>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- Modal -->

    <div class="text-center">
        <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#darkModalForm">
            Login
        </a>
    </div>
    <!--begin::Base Scripts -->
    <script src=@Url.Content("/Content/assets/vendors/base/vendors.bundle.js") type="text/javascript"></script>
    <script src=@Url.Content("/Content/assets/demo/default/base/scripts.bundle.js") type="text/javascript"></script>
    <!--end::Base Scripts -->
    <!--begin::Page Vendors -->
    <script src=@Url.Content("/Content/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js") type="text/javascript"></script>
    <!--end::Page Vendors -->
    <!--begin::Page Snippets -->
    <script src=@Url.Content("/Content/assets/app/js/dashboard.js") type="text/javascript"></script>
    <!--end::Page Snippets -->
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="/Content/components/Post/text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="/Content/components/Post/text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="/Content/components/Post/text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="/Content/components/Post/text/javascript" src="js/mdb.min.js"></script>
</body>
</html>
