
@model IEnumerable<IA_E_commerce_.Models.Notification>
@{
    ViewBag.Title = "getSendedRequest";
    Layout = "~/Views/Shared/_MTLLayout.cshtml";
}



<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    Show All Marketing Directors
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                Datatables
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                Base
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                Local Data
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="m-content">

        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Local Datatable
                            <small>
                                initialized from javascript array
                            </small>
                        </h3>
                    </div>
                </div>

            </div>
            <div class="m-portlet__body">

                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="form-group m-form__group row align-items-center">

                                <div class="col-md-4">
                                    <div class="m-input-icon m-input-icon--left">
                                        <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="generalSearch">
                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                            <span>
                                                <i class="la la-search"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 order-1 order-xl-2 m--align-right">

                            <div class="m-separator m-separator--dashed d-xl-none"></div>
                        </div>
                    </div>
                </div>

                
                    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" id="local_data" style="">
                        <table class="m-datatable__table" style="display: block; min-height: 300px; overflow-x: auto;">
                            <thead class="m-datatable__head">
                                <tr class="m-datatable__row" style="left: 0px;">
                                    <th data-field="RecordID" class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">
                                        <span style="width: 50px;">
                                            <label class="m-checkbox m-checkbox--single m-checkbox--all m-checkbox--solid m-checkbox--brand">
                                                <input type="checkbox">
                                                <span></span>
                                            </label>
                                        </span>
                                    </th>

                                    <th data-field="OrderID" class="m-datatable__cell m-datatable__cell--sort">
                                        <span style="width: 110px;">from </span>
                                    </th>
                                    <th data-field="OrderID" class="m-datatable__cell m-datatable__cell--sort">
                                        <span style="width: 110px;">message</span>
                                    </th>
                                    <th data-field="ShipName" class="m-datatable__cell m-datatable__cell--sort">
                                        <span style="width: 110px;">status</span>
                                    </th>
                                    <th data-field="Currency" class="m-datatable__cell m-datatable__cell--sort">
                                        <span style="width: 100px;">creates on</span>
                                    </th>

                                </tr>
                            </thead>

                            <tbody class="m-datatable__body" style="">

                                @foreach (var Notification in Model)
                                {
                                    using (Html.BeginForm("JoinToProject", "MTL", FormMethod.Post ))
                                    {
                                <tr data-row="0" class="m-datatable__row" style="left: 0px;">
                                    <td class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check" data-field="RecordID">
                                        <span style="width: 50px;">
                                            <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                                                <input type="checkbox" value="1">
                                                <span></span>
                                            </label>
                                        </span>
                                    </td>

                                    <td data-field="Name" class="m-datatable__cell">
                                        <span style="width: 110px;">@Notification.FromID</span>
                                    </td>
                                    <td data-field="Email" class="m-datatable__cell">
                                        <span style="width: 110px;">@Notification.message</span>
                                    </td>
                                    <td data-field="Currency" class="m-datatable__cell">
                                        <span style="width: 100px;">@Notification.stutes</span>
                                    </td>
                                    <td data-field="ShipAddress" class="m-datatable__cell">
                                        <span style="width: 110px;">@Notification.createdOn</span>
                                    </td>
                                    <td data-field="ShipDate" class="m-datatable__cell">
                                        <span style="width: 110px;">@Notification.postID</span>
                                    </td>
                               
                                    <input type="hidden" name="postID" value="@Notification.postID" id="ProjectID">
                                    <td data-field="Type" class="m-datatable__cell">
                                        @*@Html.ActionLink("Accept", "JoinToProject", "MTL", new { id = Notification.postID }, new { @class = "btn m-btn--pill m-btn m-btn--gradient-from-success m-btn--gradient-to-accent" })
                                        *@
                                        @{ 
                                            var x = 1;
                                            var y = 2;
                                        }
                                        <button type="submit" id="accept" name="accept" value="@x" class="btn m-btn--pill m-btn m-btn--gradient-from-success m-btn--gradient-to-accent">Accept </button>

                                        <button type="submit" id="refuse" name="refuse" value="@y" class="btn m-btn--pill m-btn m-btn--gradient-from-danger m-btn--gradient-to-accent"> cancel </button>

                                    </td>

                                </tr>
                                        }
                                    }

                                </tbody>

                        </table>

                    </div>
                
                </div>
        </div>
    </div>
</div>



